/*Start Variables*/
/*End Variables*/
/*Start Gloabl*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --main-green:#27ae60;
    --main-black:#192a56;
    --main-light:#666;
    --main-background-white:#fff;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    font-family: 'Nunito', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition:all 0.3s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
    overflow-x: hidden;
}
section{
    padding: 2rem 9%;
}
section:nth-child(even){
    background:#eee;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    color: var(--main-background-white);
    background: var(--main-black);
    font-size: 1.7rem;
    padding: 0.8rem 3rem; 
    border-radius: 0.5rem;
    cursor: pointer;
}
.btn:hover{
    background: var(--main-green);
    letter-spacing: 0.1rem;
}
.sub-heading{
    text-align: center;
    color: var(--main-green);
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.heading{
    text-align: center;
    color: var(--main-black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
/* .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */
/*End Gloabl*/
/*Start Header Css*/
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-background-white);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: var(--box-shadow);
}
header .logo{
    color: var(--main-black);
    font-size: 2.5rem;
    font-weight: bolder;
}
header .logo i{
    color: var(--main-green);
}
header nav a{
    font-size: 1.7rem;
    padding: 0.7rem  1.5rem;
    border-radius: 0.5rem;
    color: var(--main-light-color);
}
header nav a.active,
header nav a:hover{
    background-color: var(--main-green);
    color: var(--main-background-white);
}
header .icons i,
header .icons a{
    cursor: pointer;
    height: 4.5rem;
    line-height:4.5rem;
    margin-left: .5rem;
    width: 4.5rem;
    background: #eee;
    text-align: center;
    font-size: 1.9rem;
    border-radius: 50%;
    color: var(--main-black);
}
header .icons i:hover,
header .icons a:hover{
    color: var(--main-background-white);
    background: var(--main-green);
    transform: rotate(360deg);
}
header .icons #menu-bars{
    display: none;
}
/*Start Search*/
#search-form{
    position: fixed;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 104;
    background-color: rgba(0 , 0 , 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}
#search-form.active{
    top: 0;
}
#search-form #search-box{
    width: 50rem;
    padding: 1rem 0;
    border-bottom: .1rem solid var(--main-background-white);
    background: none;
    font-size: 3rem;
    color: var(--main-background-white);
    text-transform: none;
}
#search-form #search-box::placeholder{
    color: var(--main-background-white);
}
#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}
#search-form label{
    color: var(--main-background-white);
    font-size: 3rem;
    cursor: pointer;
}
#search-form label:hover{
    color: var(--main-green);
}
#search-form #close{
    color: var(--main-background-white);
    font-size: 5rem;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 3rem;
}
/*End Search*/
/*Start Home*/
.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}
.home .home-slider .slide .content{
    flex: 1 1 45rem;
}
.home .home-slider .slide .image{
    flex: 1 1 45rem;
}
.home .home-slider .slide .image img{
    width: 100%;
}
.home .home-slider .slide .content span{
    font-size: 2.5rem;
    color: var(--main-green);
}
.home .home-slider .slide .content h3{
    font-size: 7rem;
    color: var(--main-black);
}
.home .home-slider .slide .content p{
    font-size: 2.2rem;
    color: var(--main-light);
    padding: 5rem 0;
    line-height: 1.5;
}
.swiper-pagination-bullet-active{
    background:var(--main-green);
}
/*End Home*/
/*End Header Css*/
/*Start Dishes Css*/
.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(32rem , 1fr));
    gap:1.5rem;
}
.dishes .box-container .box{
    padding: 2.5rem;
    border-radius: 0.5rem;
    background: var(--main-background-white);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    border: .1rem solid rgba(0,0,0,.2);
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top: 1.5rem;
    background: #eee;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--main-black);
    border-radius: 50%;
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: var(--main-green);
    color: var(--main-background-white);
}
.dishes .box-container .box .fa-heart{
    right:-15rem;
}
.dishes .box-container .box .fa-eye{
    left: -15rem;
}
.dishes .box-container .box:hover .fa-heart{
    right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye{
    left: 1.5rem;
}
.dishes .box-container .box img{
    height: 17rem;
    margin: 1rem 0;
}
.dishes .box-container .box h3{
    color: var(--main-black);
    font-size: 2.5rem;
}
.dishes .box-container .box .stars{
    padding: 1.5rem 0;
}
.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color: var(--main-green);
}
.dishes .box-container .box span{
    color: var(--main-green);
    margin-right: 1.5rem;
    font-size: 2.5rem;
    font-weight: bolder;
}
/*End Dishes Css*/
/*Start about Css*/
.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
}
.about .row .content h3{
    color: var(--main-black);
    font-size: 3rem;
    padding: 0.5rem 0;
}
.about .row .content p{
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: var(--main-light);
    line-height: 2;
}
.about .row .content .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: 0.5rem;
}
.about .row .content .icons-container .icons{
    background: #eee;
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}
.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color: var(--main-green);
}
.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--main-black);
}
/*End about Css*/
/*Start Menu Css*/
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(32rem , 1fr));
    gap: 1.5rem;
}
.menu .box-container .box{
    background: var(--main-background-white);
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}
.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}
.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}
.menu .box-container .box .image .fa-heart{
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--main-background-white);
    color: var(--main-black);
    line-height: 5rem;
    font-size: 2rem;
    text-align: center;
}
.menu .box-container .box .image .fa-heart:hover{
    color: var(--main-background-white);
    background-color: var(--main-green);
}
.menu .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}
.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}
.menu .box-container .box .content .stars{
    color: var(--main-green);
    font-size: 1.7rem;
}
.menu .box-container .box .content h3{
    color: var(--main-black);
    font-size: 2.5rem;
}
.menu .box-container .box .content p{
    color: var(--main-light);
    padding: 0.5rem 0;
    font-size: 1.6rem;
    line-height: 1.5;
}
.menu .box-container .box .content .price{
    color: var(--main-green);
    font-size: 2.5rem;
    margin-left: 1rem;
}
/*End Menu Css*/
/*Start review Css*/
.review .slide{
    position: relative;
    border: .1rem solid rgba(0,0,0,.2);
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
}
.review .slide .fa-quote-right{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}
.review .slide .user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
}
.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .slide .user h3{
    color: var(--main-black);
    font-size: 2rem;
    padding-bottom: 0.5rem;
}
.review .slide .user i{
    color: var(--main-green);
    font-size: 1.3rem;
}
.review .slide p{
    color: var(--main-light);
    font-size: 1.5rem;
    line-height: 1.8;
}
/*End review Css*/
/*Start order Css*/
.order form{
    width: 90rem;
    background: var(--main-background-white);
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
}
.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order form .inputBox .input{
    width: 49%;
}
.order form .inputBox .input span{
    display: block;
    color: var(--main-light);
    padding: 0.5rem 0;
    font-size: 1.5rem;
}
.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background: #eee;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    text-transform: none;
    color: var(--main-black);
}
.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border: 0.1rem solid var(--main-green);
}
.order form .inputBox .input textarea{
    height: 20rem;
    resize: none;
}
.order form .btn{
    margin-top: 0;
}
/*End order Css*/
/*Start Footer Css*/
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(30rem ,1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3{
    padding: 0.5rem 0;
    font-size: 2.5rem;
    color: var(--main-black);
}
.footer .box-container .box a{
    display: block;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: var(--main-light);
}
.footer .box-container .box a:hover{
    text-decoration: underline;
    color: var(--main-green);
}
.footer .credit{
    text-align: center;
    border-top: 0.1rem solid rgba(0,0,0,.1);
    padding: 1.5rem 1rem;
    color: var(--main-black);
    font-size: 2.3rem;
    margin-top: 1.5rem;
    font-weight:  bolder;
}
.footer .credit span{
    color: var(--main-green);
}
/*End Footer Css*/
/*part loader*/
.loader-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--main-background-white);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.loader-container img{
    width: 35rem;
}
.loader-container.fade-out{
    top: 110%;
    opacity: 0;
}



/*Start Media*/
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding:1rem 2rem;
    }
    section{
        padding:2rem;
    }
}
@media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--main-background-white);
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0,100% 100%,0 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 1.5rem;
        background-color: #eee;
    }
    #search-form #search-box{
        width: 90%;
        margin: 0 1rem;
    }
    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .dishes .box-container .box img{
        height: auto;
        width: 100%;
    }
    .order form .inputBox .input{
        width: 100%;
    }
}
/*End Media*/
